.container {
    width: 100%;
    height: 4rem;
    /* border-radius: 0 0 0.5rem 0.5rem; */
    /* overflow: hidden; */
    /* border-bottom: 1px solid var(--color-secondary); */
    background: linear-gradient(to bottom, #00000075, transparent);
}


.title {
    font-size: 1.4rem;
    color: white;
    border-radius: 0.3rem;
    font-weight: bold;
    cursor: pointer;

    transition: all 0.3s ease;

    &:hover {
        color: #a1a1aa;
    }
}