.merch {
    background: url("../../images/patterns/rainbow.png") center center;
    background-size: cover;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 5rem 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    overflow: hidden;
}

.merch p {
    text-shadow: 0 0 10px rgba(0, 0, 0, 1), 0 0 20px rgba(0, 0, 0, 1), 0 0 30px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.6);
}

.merchTitle {
    font-size: 4rem;
    font-weight: 800;
    color: #f8fafc;
    margin-bottom: 1rem;
}

.merchDesc {
    font-size: 1.5rem;
    color: #f8fafc;
    text-align: center;
    max-width: 800px;
    margin-bottom: 2rem;
}

.shopButton {
    z-index: 10;
    border-radius: 9999px;
    padding: 0.75rem 2rem;
    margin-top: 4rem;
    background-color: #1e40af;
    color: #f8fafc;
    font-weight: 800;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1),
        0 0 20px rgba(0, 0, 0, 1),
        0 0 30px rgba(0, 0, 0, 0.8),
        0 0 40px rgba(0, 0, 0, 0.6);
}

.shopButton:hover {
    background-color: #1e3a8a;
}

.merch1 {
    position: absolute;
    bottom: -15%;
    left: -5%;
    height: 80%;
    transform: rotate(-10deg);
    user-select: none;
    pointer-events: none;
}

.merch2 {
    position: absolute;
    bottom: -15%;
    right: -5%;
    height: 80%;
    transform: rotate(10deg);
    user-select: none;
    pointer-events: none;
}

@media screen and (max-width: 1300px) {
    .merch {
        padding: 3rem 2rem;
        margin: 0 3rem;
        margin-bottom: 2rem;
        box-sizing: border-box;
    }

    .merchTitle {
        font-size: 3rem;
    }

    .merchDesc {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 720px) {
    .merch {
        padding: 2rem 1rem;
        margin: 0 1rem;
        margin-bottom: 2rem;
        box-sizing: border-box;
    }

    .merchTitle {
        font-size: 2rem;
    }

    .merchDesc {
        font-size: 1rem;
    }

    .merch1,
    .merch2 {
        height: 60%;
    }
}