.wrapper {
    height: 100vh;
    background: radial-gradient(circle at bottom, #001fb7, #0000ff, #0e8db7);
    /* background-image: url('./channels4_banner.jpg'); */
    background-size: cover;
    background-position: center;

    overflow: hidden;
    position: relative;
}

.accent {
    position: absolute;
    top: -20%;
    left: -20%;
    width: 140%;
    height: 140%;
    background-image: url('../../../../images/pattern.png');
    background-size: 600px 600px;
    background-repeat: repeat;
    /* filter:; */
    filter: invert(1);
    opacity: 0.45;

    filter: blur(3px) invert(1);
    z-index: -1;
    animation: drift 60s linear infinite;
}

@keyframes drift {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 600px 600px;
    }
}


.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0px);
    display: flex;
    padding-top: 4rem;
    padding-bottom: 12rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23d6d9e5' fill-opacity='0.3' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.title {
    /* font-size: 7rem; */
    height: 50vh;
    object-fit: contain;
    margin-bottom: -10%;
    margin-top: -5%;
    /* font-weight: bold; */
    /* color: #fee502; */
    /* text-transform: uppercase;
    text-align: center;
    line-height: 1; */
    /* background-color: #0000ff;
    box-shadow: 0 0 20px 20px #0000ff, 0 0 80px 40px #0000ff;
    border-radius: 9999px; */

    /* font-family: var(--font-3d);

    span {
        letter-spacing: 0px;
        text-decoration: none;
    } */
}

.cta {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.65rem 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        background-color: #c74141;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        svg {
            font-size: 1.8rem;
        }

        &:hover {
            background-color: #cc0000;
        }
    }
}

.links {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 1rem;
    right: 3rem;
    transform: rotate(2deg);
    /* background-color: var(--color-bg-secondary); */
    /* border: 1px solid red; */
    background: radial-gradient(#ff0000, #aa0000);
    z-index: 10;
    color: white;
    border-radius: 0.5rem;

    &:hover {
        background: radial-gradient(#aa0000, #880000);
    }

    a {
        padding: 4rem 6rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
    }
}

.arrow {
    position: absolute;
    bottom: 6rem;
    font-size: 3rem;
    color: white;
    animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1rem);
    }
}

@media screen and (max-width: 768px) {
    .title {
        height: 30vh;
        margin-top: -5%;
        margin-bottom: -10%;
        /* font-size: 4rem; */
    }

    .links {
        left: 50%;
        bottom: 3rem;
        transform: translateX(-50%);

        a {
            padding: 1rem 2rem;
        }
    }

}

/* .links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: absolute;
    margin-left: 20vh;

button {
    padding: 0.25rem 1.5rem;
    background-color: #11afff;
    color: black;
    border-radius: 99px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    transition: all 0.1s ease;
    box-shadow: 0 0 20px 10px rgb(255, 255, 255, 0.3);

    svg {
        transition: all 0.1s ease;
    }

    &:hover {
        background-color: #ddd49a;
        color: black;

        svg {
            transform: translateY(-0.1rem) translateX(0.1rem);
        }
    }

    &:not(:first-child) {
        background-color: transparent;
        border: 2px solid white;
        color: white;

        &:hover {
            background-color: white;
            color: black;
        }
    }
}

p {
    color: white;
    font-size: 1.2rem;
    align-self: center;
    font-family: var(--font-vinyl);
    margin-left: auto;
    margin-top: -1rem;
}
}

*/
.divider {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1000 100"><path d="M0 0v47.6l5-2c1 0 11 3 12 0 2 3 6-3 6 0 0-4 12 3 12 0 0 3 15-1 17 0 2-2 5-1 6 0 0-2 6 2 6 0s2 4 4 0c5 2 12-3 16 0 2-2 4-3 4 0 0 2 6-1 6 0 1 4 15-2 17 0h7c0 1 3-3 6 0h17c2 2 3 1 6 0h6c1-2 21-1 24 0 2 1 4 2 6 0 0-1 22 4 24 0 0 0 5-3 5 0 2-2 10 2 12 0 2 2 6 1 6 0 2 3 4-2 6 0 1 0 25-2 25 1l10-1c3 1 6 6 7 0 1 5 4-2 6 0 2-2 4 3 5 0h12c6 1 36 2 36 0 0 2 3 0 6 0h6c5-2 7 4 11 0 2 0 15 2 17 0h13c3-4 5 1 7 0h29c0-3 6 0 6 0h5c0 2 16-1 18 0 1 4 9-1 12 0s6-2 6 0c8-2 3 4 13 0h10c3 4 19 1 19 0 2 0 21 1 23-1 1 4 3-1 6 1 1 2 11-1 12-1 3 3 9 0 12 1 3-4 6 1 6 0h6c0-3 5 1 6-1 0 3 2 1 4 1 3 4 10-1 13 0 3-2 6-1 6 0 2 2 2 0 6 0 1-2 6 2 6 0 2 0 4 5 6 0h18c2 3 4 1 6 0l6-1c3 2 12 3 17 1 14 3 18 1 24 0 2-1 3 3 5 0 6 2 10-1 16 0 1 3 6 0 9 0 0-2 3 2 5 0 6-6 8 7 13 0 0-2 5 2 5 0 3 3 10 0 10 0 1 2 5-2 8 0 3-1 8 3 12 0h6c2 1 10 4 12 0h6c1-1 5 2 6 0 1 2 4-1 6 0 0-2 5 3 6-1 2 1 6 5 5 1 1 1 3-2 6 0 2-1 5 3 6 0 0 1 6 2 6 0 2 3 4-4 6 0 0-2 3 2 6 0 3 0 6 3 6 0 5 3 8-1 13 0 3-4 6 1 6 0h5c0-1 9 2 12 0 1-1 9 3 11 0h6c2 2 4 4 7 0 3 2 5-4 5-1 10 4 15-2 18 2 0-1 6 2 6-2 0 0 6-2 6 1 1 6 12 2 12 0 1 3 4-3 7 2 2-2 5 2 5 0 1 5 4-5 6 0 2-1 4 2 6 0 1 3 1 0 5 0V0H0Z" fill="%2318181B"></path></svg>');
    height: 10rem;
    transform: rotate(180deg);
}